@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {

  font-size: 1.3em;
  font-family: 'Roboto', 'sans-serif';

  input-placeholder: red;
}
h1 { color: papayawhip }


/* List styling */
.featureList, .featureList ul {
  margin-top: 0;
  padding-left: 2em;
  list-style-type: none;
}
.featureList li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
}
.featureList li.tick:before {
  content: "\2713";
  color: darkgreen;
}
.featureList li.cross:before {
  content: "\2717";
  color: crimson;
}
